parameters:
    scanFiles:
      - IntelliSenseHelper.php
      - ../../oxid-esales/oxideshop-ce/source/oxfunctions.php
    paths:
        - Application
        - Modules
    level: 9
    phpVersion: 70100
